

    <div class="bg-light border-right active" id="sidebar">

        <div class="list-group font-weight-bold">
            <a asp-controller="Stock" asp-action="Exchange" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chart-line fa-2x pr-4 mr-5"></i> Exchange</a>

            <a asp-controller="Stock" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-money-check-alt fa-2x  pr-4 mr-5"></i>Portfolio</a>

            <a asp-controller="Trivia" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chalkboard fa-2x pr-4 mr-5"></i>Trivia Questions</a>

            <a asp-controller="Trivia" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chart-pie fa-2x pr-4 mr-5"></i>Trivia Performance</a>

            <a asp-controller="Achievements" asp-action="Portfolio" class="list-group-item  bg-light list-group-item-action"><i class="fas fa-trophy fa-2x pr-4 mr-5"></i>Achievments</a>

            <a asp-controller="Achievements" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-list-ol fa-2x pr-4 mr-5"></i>Leaderboard</a>
        </div>
    </div>




