

<div class="bg-light border-right active" id="sidebar">

        <div class="list-group font-weight-bold">
            <a asp-controller="Stock" asp-action="Exchange" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chart-line fa-2x pr-4 mr-5"></i> Exchange</a>

            <a asp-controller="Stock" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-money-check-alt fa-2x  pr-4 mr-5"></i>Portfolio</a>

            <a asp-controller="Trivia" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chalkboard fa-2x pr-4 mr-5"></i>Trivia Questions</a>

            <a asp-controller="Trivia" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-chart-pie fa-2x pr-4 mr-5"></i>Trivia Performance</a>

            <a asp-controller="Achievements" asp-action="Portfolio" class="list-group-item  bg-light list-group-item-action"><i class="fas fa-trophy fa-2x pr-4 mr-5"></i>Achievments</a>

            <a asp-controller="Achievements" asp-action="Portfolio" class="list-group-item bg-light list-group-item-action"><i class="fas fa-list-ol fa-2x pr-4 mr-5"></i>Leaderboard</a>
        </div>
</div>





    <!--<div id="wrapper" class="toggled">
        <div class="container-fluid">-->
    <!-- Sidebar -->
    <!--<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <br>
            </li>
            <li class="sidebar-brand">
                <a href="#" class="navbar-brand">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                </a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><font color="#337AB7"> STATISTICS</font>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Reports</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistic</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><font color="#337AB7"> ADMINISTRATION</font>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a>
            </li>
        </ul>
    </div>-->
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    @*<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <h1>Your Title</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        Your Content
                    </div>
                </div>
            </div>
        </div>*@
    <!-- /#page-content-wrapper -->
    @*</div>
        </div>*@
    @*<div class="bg-light border-right d-sm-none d-md-block" id="sidebar-wrapper">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Exchange</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Portfolio</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Knowledge Center</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Grade Book</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Achievments</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Leaderboard</a>
            </div>
        </div>*@
