@model ThatsLife.Models.ViewModels.PlayerViewModel


    <div class="row bg-light m-1 p-1">
        <div class="col-md-10 offset-md-10 p-2">
            <div class="font-weight-bolder text-success">Cash: @Model.Cash.ToString("c")</div>
            <div class="font-weight-bolder text-dark"> Score: @Model.Score</div>
        </div>
    </div>
    
