@model PlayerProfile

<div class="container-fluid">
    <div class="row bg-light p-1">
        <div class="col-md-10 offset-md-10 p-2">
            <div class="font-weight-bolder text-success">Cash: @Model.Currency.ToString("c")</div>
            <div class="font-weight-bolder text-dark"> Score: @Model.PrestigeScore</div>
        </div>
    </div>
    
</div>
