@{
    ViewData["Title"] = "About";
}

<!--TO DO JUST A PLACE HOLDER-->
<h1>Thats Life</h1>
<p>
    <em>That's Life</em> is based on two classic games of <b>Life</b> and a little less know game called <a href="https://en.wikipedia.org/wiki/Wall_Street_Kid"><b>Wall Street Kid</b></a> in which you inherit $500,000 and must use it to make investment decisions in order to obtain an inheritance of $600,000,000,000; however along the way the player has obstacles that require him to make purchases, and the game is over if you unable to make them.  What's different about *That's Life* is the objective of the game isn't about having the most money in the end, it is about maintaining your spot on the leaderboard that tracks your prestige score.  Throughout the game, players have the options on how to earn and use virtual currency in order to earn prestige points.

</p>
<p>Initially, players will receive a certain amount of virtual currency and must use this to make investments, make virtual purchases, donate to other players or charity, gamble it, or save.  Each action taken will also affect your prestige score.  If you loose all your money, luckily the game ain't over, the player can also acquire virtual currency by solving various math problems or answering trivia questions.  The difficulty of the question determines the amount earned. No matter what decision you take, every action affects your prestige score and your personality trait assigned to you.  The prestige scoreboard is the place to showcase your personality and your success.</p>


