<div class="container">
    <div class="container">
        <div class="row index-box-item">
            <img src="~/images/stock-trend-splash.jpg" alt="Stock Trends - Photo by Gabby K from Pexels" class="col-sm-6">
            <div class="col-sm-6">
                <h2 class="p-sm-4">Stock Market Game</h2>
                <p>Once you register you will start out with $100,000 in vitual currency and put your invenstment skills to work.  That's Life provides realtime intraday US stock prices and current news to keep you current on your investment.  Simple register to start earning cash and your spot on the leader board. </p>
                <ul>
                    <li>Buy US Stocks</li>
                    <li>Sell US Stocks</li>
                    <li>Get Stock Information</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row index-box-item">
            <img src="~/images/trivia-splash.jpg" alt="Stock Trends - Photo by Gabby K from Pexels" class="col-sm-6">
            <div class="col-sm-6">
                <h2 class="p-sm-4">Trivia Game</h2>
                <p>As you play the Stock Market Game you may want some additional funds should you run low.  That's Life has several categories to choose from such as:</p>
                <ul>
                    <li>Math</li>
                    <li>Science</li>
                    <li>History</li>
                    <li>Sports</li>
                    <li>Computers</li>
                    <li>General Triva</li>
                </ul>
                <div class="pl-4 font-weight-bold justify-content-center">. . . and many more!</div>
            </div>
        </div>
    </div>

    
</div>