
.logo {
    height: 5rem;
    background-color: white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ticker-stock-up {
    color: #18BB5C
}

.ticker-stock-down {
    color: #FF433D
}



.index-text {
    line-height: 2em;
}

.index-box-item {
    margin: 2em;
}

.vertical-center {
    margin-top: 10%;
}


#sidebar.active {
    margin-left: 0;
}

#sidebar {
    min-width: 30rem;
    min-height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}


@media (max-width: 768px) {
    .vertical-center {
        height: auto;
    }
    #sidebar.active {
        margin-left: 0rem;
        background-color:red;
    }

        #sidebar {
            margin-left: -30rem;
        }
    
}




