
.banner{
    width:100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.stock-up {
    color: #18BB5C
}

.stock-down {
    color: #FF433D
}
::-webkit-input-placeholder { /* Edge */
    color: #F8F8F8;
}



.index-text {
    line-height: 2em;
}

.index-box-item {
    margin: 2em;
}

.vertical-center {
    margin-top: 10%;
}


#sidebar.active {
    margin-left: 0;
}

#sidebar {
    min-width: 30rem;
    min-height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}



.input-quote{
    width:500px;
}

@media (max-width: 768px) {
    .vertical-center {
        height: auto;
    }
    #sidebar.active {
        margin-left: -30rem;
    }
        #sidebar {
            margin-left: 0;
        }
}




